In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('house_price.csv')

In [3]:
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [4]:
df.columns

Index(['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt',
       'Location', 'Condition', 'Garage', 'Price'],
      dtype='object')

In [5]:
df['Location'].unique()

array(['Downtown', 'Suburban', 'Urban', 'Rural'], dtype=object)

In [6]:
df['YearBuilt'].mean()

1961.446

In [7]:
df['Bedrooms'].mean()

3.0035

In [8]:
df['Area'].mean()

2786.2095

In [9]:
df = df.drop(['Id'],axis = 1)

In [10]:
df.head()

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3592,2,2,3,1938,Downtown,Good,No,266746
3,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [11]:
df.isnull().sum()

Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       2000 non-null   int64
 1   Bedrooms   2000 non-null   int64
 2   Bathrooms  2000 non-null   int64
 3   Floors     2000 non-null   int64
 4   YearBuilt  2000 non-null   int64
 5   Location   2000 non-null   object
 6   Condition  2000 non-null   object
 7   Garage     2000 non-null   object
 8   Price      2000 non-null   int64
dtypes: int64(6), object(3)
memory usage: 140.8+ KB

In [14]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['Location'] = label_encoder.fit_transform(df['Location'])
df['Condition'] = label_encoder.fit_transform(df['Location'])
df['Garage'] = label_encoder.fit_transform(df['Garage'])

In [16]:
df.head()

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,0,0,149919
1,4272,5,4,3,1958,0,0,0,424998
2,3592,2,2,3,1938,0,0,0,266746
3,966,4,2,2,1902,2,2,1,244020
4,4926,1,4,2,1975,0,0,1,636056

In [17]:
x = df.drop(columns=['Price'])
y = df['Price']
y

0       149919
1       424998
2       266746
3       244020
4       636056
         ...
1995    295620
1996    580929
1997    476925
1998    161119
1999    482525
Name: Price, Length: 2000, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")

Mean Squared Error (MSE): 78782817321.8186
Mean Absolute Error (MAE): 244482.3782

In [19]:
rf = RandomForestRegressor(n_estimators=25, random_state=42)
rf.fit(x_train, y_train)

y_pred_rf = rf.predict(x_test)

mse_rf = mean_squared_error(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)

print(f"Mean Squared Error (MSE): {mse_rf:.4f}")
print(f"Mean Absolute Error (MAE): {mae_rf:.4f}")

Mean Squared Error (MSE): 85907394193.6332
Mean Absolute Error (MAE): 254380.3712

In [20]:
x.dtypes

Area         int64
Bedrooms     int64
Bathrooms    int64
Floors       int64
YearBuilt    int64
Location     int32
Condition    int64
Garage       int32
dtype: object