In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df1 = pd.read_csv('banka.csv')
df2 = pd.read_csv('bankv2.csv')
df3 = pd.read_csv('bankv3.csv')

In [3]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(143, 4)
(174, 4)
(227, 4)

In [4]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Unnamed: 0', 'sorgu', 'label', 'le'], dtype='object')
Index(['Unnamed: 0', 'sorgu', 'label', 'le'], dtype='object')
Index(['Unnamed: 0', 'sorgu', 'label', 'le'], dtype='object')

In [5]:
df1.head()

   Unnamed: 0                               sorgu      label  le
0           0             kredi kartımı kaybettim  kartkayip   1
1           1             banka kartımı kaybettim  kartkayip   1
2           2           kredi kartımı bulamıyorum  kartkayip   1
3           3                kredi kartım çalındı  kartkayip   1
4           4  kredi kartımın olduğunu bilmiyorum  kartkayip   1

In [6]:
df2.head()

   Unnamed: 0                               sorgu      label  le
0           0             kredi kartımı kaybettim  kartkayip   1
1           1             banka kartımı kaybettim  kartkayip   1
2           2           kredi kartımı bulamıyorum  kartkayip   1
3           3                kredi kartım çalındı  kartkayip   1
4           4  kredi kartımın olduğunu bilmiyorum  kartkayip   1

In [7]:
df3.head()

   Unnamed: 0                               sorgu      label  le
0           0             kredi kartımı kaybettim  kartkayip   1
1           1             banka kartımı kaybettim  kartkayip   1
2           2           kredi kartımı bulamıyorum  kartkayip   1
3           3                kredi kartım çalındı  kartkayip   1
4           4  kredi kartımın olduğunu bilmiyorum  kartkayip   1

In [8]:
print(df1.info())
print("-----------")
print(df2.info())
print("-----------")
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  143 non-null    int64
 1   sorgu       143 non-null    object
 2   label       143 non-null    object
 3   le          143 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.6+ KB
None
-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  174 non-null    int64
 1   sorgu       174 non-null    object
 2   label       174 non-null    object
 3   le          174 non-null    int64
dtypes: int64(2), object(2)
memory usage: 5.6+ KB
None
-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  227 non-null    int64
 1   sorgu       227 non-null    object
 2   label       227 non-null    object
 3   le          227 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.2+ KB
None

In [9]:
df_total = pd.concat([df1, df2, df3], ignore_index=True)

In [10]:
df_total.head()

   Unnamed: 0                               sorgu      label  le
0           0             kredi kartımı kaybettim  kartkayip   1
1           1             banka kartımı kaybettim  kartkayip   1
2           2           kredi kartımı bulamıyorum  kartkayip   1
3           3                kredi kartım çalındı  kartkayip   1
4           4  kredi kartımın olduğunu bilmiyorum  kartkayip   1

In [11]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  544 non-null    int64
 1   sorgu       544 non-null    object
 2   label       544 non-null    object
 3   le          544 non-null    int64
dtypes: int64(2), object(2)
memory usage: 17.1+ KB

In [12]:
df_total = df_total[['sorgu','label']]
df_total.head()

                                sorgu      label
0             kredi kartımı kaybettim  kartkayip
1             banka kartımı kaybettim  kartkayip
2           kredi kartımı bulamıyorum  kartkayip
3                kredi kartım çalındı  kartkayip
4  kredi kartımın olduğunu bilmiyorum  kartkayip

In [13]:
mesaj = input("Yapmak istediğiniz işlemi giriniz : ")
mesajdf = pd.DataFrame({"sorgu":mesaj,"label":0},index = [42])
df_total = pd.concat([df_total,mesajdf],ignore_index = True)
stopwords=['fakat','lakin','ancak','acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']
for word in stopwords:
    word = " "+word+" "
    df_total['sorgu'] = df_total['sorgu'].str.replace(word," ")

cv = CountVectorizer(max_features = 50)
x = cv.fit_transform(df_total['sorgu']).toarray()
y = df_total['label']

Yapmak istediğiniz işlemi giriniz :  kredi kartı borcunu ödemesi için kuzenime fast ile para transferi yapacam ama kredi kartımı kaybettim

In [14]:
tahmin = x[-1].copy()
x =x[0:-1]
y =y[0:-1]

In [15]:
x[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

In [16]:
y[0]

'kartkayip'

In [17]:
print(len(x))
print(len(y))
print(x.shape)
print(y.shape)

544
544
(544, 50)
(544,)

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 70)

In [20]:
random_forest = RandomForestClassifier()
model = random_forest.fit(x_train,y_train)

In [21]:
model.score(x_test,y_test)

0.9704641350210971

In [22]:
sonuc = model.predict([tahmin])
nostopword_mesaj = df_total.iloc[-1]["sorgu"]
print("Mesajınız : ",mesaj +'\n'+ "Sonuc : ",sonuc)
print("Stopwordsüz mesajınız: ",nostopword_mesaj),

Mesajınız :  kredi kartı borcunu ödemesi için kuzenime fast ile para transferi yapacam ama kredi kartımı kaybettim
Sonuc :  ['paragonderme']
Stopwordsüz mesajınız:  kredi kartı borcunu ödemesi kuzenime fast para transferi yapacam kredi kartımı kaybettim

(None,)